<div class="header navbar-dark bg-default pb-8 pt-5 pt-md-8 ">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <button class="btn btn-lg btn-outline-success" (click)="open(content)">Crear Usuario</button>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Usuarios</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Documento</th>
                <th scope="col">Estado</th>
                <th scope="col">Edad</th>
                <th scope="col">Dirección</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let oPersona of olPersonas; index as i; first as isFirst">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{oPersona.nombre}} {{oPersona.apellidoPaterno}} {{oPersona.apellidoMaterno}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{oPersona.documento}}
                </td>
                <td>
                  <span class="badge badge-dot mr-4" *ngIf="oPersona.estado==='1'">
                    <i class="bg-success"></i> Activo
                  </span>
                  <span class="badge badge-dot mr-4" *ngIf="oPersona.estado!='1'">
                    <i class="bg-warning"></i> Inactivo
                  </span>
                </td>
                <td>
                  {{oPersona.edad}}
                </td>
                <td>
                  {{oPersona.direccion}}
                </td>
                <td>
                <button class="btn btn-lg btn-outline-primary" (click)="openEdit(content,oPersona.idpersona)">Editar</button>
                <button class="btn btn-lg btn-outline-danger" (click)="eliminarUsuarios(oPersona.idpersona)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registro de Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="frmUsuario">
      <div class="form-group">
        <label for="nombre">Nombres</label>
        <div class="input-group">
          <input type="text" placeholder="Nombres" class="form-control" formControlName="nombre">
        </div>
      </div>
      <div class="form-group">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <div class="input-group">
          <input type="text" placeholder="Apellido Paterno" class="form-control" formControlName="apellidoPaterno">
        </div>
      </div>
      <div class="form-group">
        <label for="apellidoMaterno">Apellido Materno</label>
        <div class="input-group">
          <input type="text" placeholder="Apellido Materno" class="form-control" formControlName="apellidoMaterno">
        </div>
      </div>
      <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <div class="input-group">
          <input type="date" placeholder="Fecha de Nacimiento" class="form-control" formControlName="fechaNacimiento">
        </div>
      </div>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <div class="input-group">
          <input type="text" placeholder="Dirección" class="form-control" formControlName="direccion">
        </div>
      </div>
      <div class="form-group">
        <label for="usuario">Usuario</label>
        <div class="input-group">
          <input type="text" placeholder="Usuario" class="form-control" formControlName="usuario">
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <div class="input-group">
          <input type="password" placeholder="Contraseña" class="form-control" formControlName="password">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel')">Cancelar</button>
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save')">Guardar</button>
  </div>
</ng-template>


